#root {
  margin: 0 auto;
  text-align: center;
  animation: fadeInAnimation ease 3s;
}

.mainDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/*-----------------------------*/
/* Nav Bar under 768px(Mobile) */
/*-----------------------------*/
.navBarBurger{
  background-color: rgb(50, 0, 97);
  height: 50px;
  display: flex;
  justify-content: end;
  z-index: 1;
  position: sticky;
  top: 0;
}
.navBarBurger button{
  height: 100%;
  background-color: rgb(50, 0, 97);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBarBurger button:hover{
  background-color: #ff64e5;
}
.burger{
  width: 40px;
}
.burgerLinks{
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 0, 97);
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 50px;
}
.burgerLink{
  height: 30px;
  max-height: 40px;
  width: 100%;
  color: white;
  padding: 5px 0;
}
.burgerLink:hover{
  color:#ff64e5;
}
.homeLink{
  border-top: 2px solid black;
}
.homeLink, .aboutLink{
  border-bottom: 2px solid black;
}

/*-----------------------------*/
/* Nav Bar over 768px(Tablet+) */
/*-----------------------------*/
.navBar{
  display: none;
}

/* ------------------------------------------------- */
/*                        Footer                     */
/* ------------------------------------------------- */
.footer{
  z-index: 1;
  position: sticky;
  bottom: 0;
}
.footerDiv{
  /* background-color: hsla(271, 100%, 16%, 0.51); */
  background-color: rgb(50, 0, 97);
  width: 100%;
  height: 70px;
}

.links{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#gitHub, #linkedIn{
  width: 45px;
  display: block;
}
#darkGit, #lightGit, #darkLi, #lightLi{
  width: 100%;
  display: block;
}

/* Make sure only one of the icons for each link shows */
#darkGit, #darkLi{
  display: none;
}
#lightGit{
  
}
/* Hover effect to change from dark icon to light icon */
#gitHub:hover{
  #lightGit{
    display: none;
  }
  #darkGit{
    display: block;
    background-color: #ff64e5;
    border-radius: 50%;
    padding: 1px;
    animation: fadeInAnimation ease 2s;
  }
}
#lightLi{
  border-radius: 20%;
}
/* Hover effect to change from dark icon to light icon */
#linkedIn:hover{
  #lightLi{
    display: none;
  }
  #darkLi{
    display: block;
    background-color: #ff64e5;
    padding-top: 1px;
    padding-left:1px;
    border-radius: 20%;
    animation: fadeInAnimation ease 2s;
  }
}

.resumeBtn{
  background-color: rgb(101, 101, 101);
}
.resumeBtn:hover{
  background-color: rgb(0, 0, 0);
  color: #ff64e5;
  transition: all 1s;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
@media only screen and (min-width:425px){
  .burgerLink{
    font-size: 1.1em;
  }
}
@media only screen and (min-width:768px){
  .navBarBurger, .burgerLinks{
    display: none;
  }
  .navBar{
    background-color: rgb(50, 0, 97);
    display: flex;
    justify-content: center;
    gap:40px;
    height: 50px;
    z-index: 1;
    align-items: center;
    position: sticky;
    top: 0;
  }
  .navBar>a{
    color: white;
  }
  .navBar>a:hover{
    color:#ff64e5;
}
  .navLink{
    font-size: 20px;
  }
  .resumeBtn{
    padding: 0.4em 1.1em;
    font-size: 1.2em;
  }
}
@media only screen and (min-width:1440px){
  .resumeBtn{
    padding: 0.4em 1em;
    font-size: 1.3em;
  }
}