.aboutmeDiv{
    /* height: 89vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInAnimation ease 3s;
    margin-bottom: 20px;
}

#aboutMeP{
    width: 75%;
    margin: 0 auto; 
    text-align: left;
    max-width: 700px;
}

.iconsDiv{
    /* background-color: hsla(287, 100%, 87%, 0.385); */
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.icon{
    display: inline-block;
    width: 90px;
    height: 90px;
    min-height: 90px;
    background-color: hsla(287, 100%, 87%, 0.385);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.iconP{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 23px;
    margin: 0;
}
.iconImg{
    width: 60px;
    max-height: 60px;
    margin-bottom: 7px;
    /* height: 70px; */
    /* background-color: white; */
    /* border-radius: 50%; */
}
.ex{
    width: 80px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@media only screen and (min-width:425px){
    #aboutMeP{
        font-size: 1.05em;
    }
}

@media only screen and (min-width:768px){
    #aboutMeP{
        font-size: 1.1em;
    }
    .skillsH2{
        font-size: 1.7em;
    }
}
@media only screen and (min-width:1024px){
    .aboutmeDiv{
        margin-top: 80px;
    }
}
@media only screen and (min-width:1440px){
    .aboutmeDiv{
        margin-top: 100px;
    }
    #aboutMeP{
        font-size: 1.15em;
    }
    .skillsH2{
        margin-top: 30px;
        font-size: 1.8em;
    }
}