.homeDiv{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media only screen and (min-width:425px){
    .homeDiv h1{
        font-size:60px;
        padding: 0 30px;
    }
    .homeDiv h3{
        font-size: 25px;
    }
}
@media only screen and (min-width:1440px){
    .homeDiv h1{
        font-size:80px;
        padding: 0 30px;
    }
    .homeDiv h3{
        font-size: 32px;
    }
}