#root {
  /* max-width: 1280px */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.navBar{
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  gap:100px;
  padding: 5px 20px;
}
.navBar a{
  color: white;
}