#root {
  /* max-width: 1280px */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
.mainDiv{
  position: relative;
  display: flex;
  flex-direction: column;
}
.navBar{
  background-color: hsla(271, 100%, 16%, 0.51);
  display: flex;
  justify-content: center;
  gap:100px;
  height: 60px;
  align-items: center;
}
.navBar a{
  color: white;
}

.footer{
  background-color: hsla(271, 100%, 16%, 0.51);
  position: fixed;
  bottom: 0;
  width: 100%;
}