.aboutmeDiv{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}