/* Holds everything displayed on the projects page */
.projDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInAnimation ease 3s;
    margin-bottom: 20px;
}

/* Hold all the projects and their info */
.projPics{
    width: 80vw;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
}

/* Class for project pictures */
.projectImg{ 
    width: 80%;
}
/* Btn class is for the buttons on either side of the project images */
.btn{
    width: 10%;
    line-height: 1.0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    color:#ff64e5;
    background-color: black;
    transition: all 1s;
}

.line{
    width: 70%;
    border-bottom: 2px solid rgb(50, 0, 97);
    margin: 40px auto;
}
.projDesc{
    margin: 40px auto 0;
    max-width: 225px;
    font-size: .90em;
    text-align: left;
}
h2>a, .projGit>a{
    color: white;
}
h2>a:hover, .projGit>a:hover{
    color:#ff64e5;
}
.projGit{
    text-align: center;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media only screen and (min-width:375px){
    .btn{
        font-size: 13px;
    }
    .projDesc{
        max-width: 250px;
        font-size: .95em;
    }
}

@media only screen and (min-width:425px){
    .btn{
        font-size: 15px;
    }
    h2>a{
        font-size: 1.2em;
    }
    .projDesc{
        max-width: 270px;
        font-size: 1.1em;
    }
}

@media only screen and (min-width:768px){
    .btn{
        font-size: 24px;
    }
    h2>a{
        font-size: 1.3em;
    }
    .projDesc{
        max-width: 400px;
        font-size: 1.2em;
    }
}
@media only screen and (min-width:1024px){
    h2>a{
        font-size: 1.4em;
    }
    .projDesc{
        max-width: 450px;
        font-size: 1.23em;
    }
}
@media only screen and (min-width:1440px){
    .projDiv{
        margin-top: 100px;
    }
    .projDesc{
        max-width: 500px;
        font-size: 1.26em;
    }
}